DATABASE_URL=postgresql://username:password@hostname:5432/dbname
HF_TOKEN=your_huggingface_token_here
WHISPER_MODEL=openai/whisper-tiny
EMOTION_MODEL=superb/wav2vec2-base-superb-er
LLM_MODEL=google/flan-t5-base
VECTOR_STORE_PATH=./rag/vector_store
